<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><b>Employees Num</b></td>
                    <td><b>Full Name</b></td>
                    <td><b>Email</b></td>
                    <td><b>Address</b></td>
                    <td><b>Manager ID</b></td>
                    <td><b>Status</b></td>
                    <td><b>Department</b></td>
                    <td><b>Hire On</b></td>
                </tr>
                {{#each employees}}
                    <tr>
                        <td>{{employeeNum}}</td>
                        <td><a href="/employee/{{employeeNum}}">{{firstName}} {{lastName}}</a></td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td>{{addressStreet}}, , {{addressState}}, {{addressPostal}}</td>
                        <td><a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></td>
                        <td><a href="/employees?status={{status}}">{{status}}</a></td>
                        <td><a href="/employees?department={{department}}">{{department}}</a></td>
                        <td>{{hireDate}}</td>
                    </tr>
                {{else}}
                    <div class="col-md-12 text-center">
                    <strong>{{message}}</strong>
                    </div>
                {{/each}}
            </table>
        </div>
    </div>
</div>