<div class="row">
    <div class="col-md-12">
        <h2>{{employee.firstName}} {{ employee.lastName}} - Employee: {{ employee.employeeNum}}</h2>
        <hr />
        <form method="post" action="/employee/update">
        <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input class="form-control" id="firstName" name="firstName" type="text" value="{{ employee.firstName}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input class="form-control" id="lastName" name="lastName" type="text" value="{{ employee.lastName}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" name="email" type="email" value="{{ employee.email}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="SSN">Social Security Number:</label>
                    <input class="form-control" id="SSN" name="SSN" type="text" value="{{ employee.SSN}}" readonly/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="addressStreet">Address(Street):</label>
                    <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{ employee.addressStreet}}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="addressCity">Address (City):</label>
                    <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{ employee.addressCity}}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="addressState">Address (State):</label>
                    <input class="form-control" id="addressState" name="addressState" type="text" value="{{ employee.addressState}}" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="addressPostal">Address (Zip Code):</label>
                    <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{ employee.addressPostal}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="isManager">Manager:</label>
                    {{#if isManager}}
                        <input class="form-control" id="isManager" name="isManager" type="checkbox" />
                    {{else}}
                        <input class="form-control" id="isManager" name="isManager" type="checkbox" checked />
                    {{/if}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="SSN">Social Security Number:</label>
                    <input class="form-control" id="SSN" name="SSN" type="text" value="{{ employee.SSN}}" readonly/>
                </div>
            </div>
        </div>
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
</div>