<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><b>Employees Num</b></td>
                    <td><b>Full Name</b></td>
                    <td><b>Email</b></td>
                    <td><b>Address</b></td>
                    <td><b>Manager ID</b></td>
                    <td><b>Status</b></td>
                    <td><b>Department</b></td>
                    <td><b>Hire On</b></td>
                </tr>
                {{#each employees}}
                    <tr>
                        <td>{{employeeNum}}</td>
                        <td>{{firstName}} {{lastName}}</td>
                        <td>{{email}}</td>
                        <td>{{addressStreet}}, , {{addressState}}, {{addressPostal}}</td>
                        <td>     </td>
                        <td>{{status}}</td>
                        <td>{{department}}</td>
                        <td>{{hireDate}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>